#container3D {
    position: fixed;
    inset: 0;
    /*background-color: red;*/
    z-index: 0;
    pointer-events: none;
}

#logo {
    position: fixed;
    z-index: 1;
    color: white;
}

body {
    background-color: black;
}